* {
    padding: 0;
    box-sizing: border-box;
}

:root {
  --header-footer-background-color: black;
  color: black;
  color: lightgray;
  --about-me-work-border: #1f1f1f;
  --rgba-border-color-opacity: rgba(88, 88, 88, 0.8);
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: black; 
}

header h1 {
  padding-left: 50px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 0px;
}

header nav ul li {
  font-size: 1.8vw;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  
}

header a {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--lightskyblue);
  color: var(--lightskyblue);
}

body{
  background-color: var(--lightgray); 
  font-family: 'Martel', serif;
}
footer {
  background-color: var(--header-footer-background-color); 
  color: var(--lightskyblue);
}

footer a {
  text-decoration: none;
  border-bottom: 2px solid var(--lightskyblue); 
  color: var(--lightskyblue); 
  font-size: 1.8vw; 
  font-weight: bold;
}

.nav-effects a:hover{ 
  color: var(--lightskyblue);
  font-weight: bold;
  text-shadow: 0px 0px 20px var(--lightskyblue);
}
.work-grid-container div:hover{ 
  mix-blend-mode: color-burn;
}
.footer-container a:hover{
  color: var(--lightskyblue);
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 0px 0px 20px var(--lightskyblue);
}

.hero { 
  height: 400px;
  background-image: url("../images/el-paso-lights.jpeg");
  border-bottom-left-radius: 30px 30px; 
  border-bottom-right-radius: 30px 30px;
  background-size: cover; 
  background-position:  100% 13%;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}
.about-me-title {
  text-align: center;
  color: black;
}
.about-me-wrapper {
  text-align: center;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}

.about-me-item.p1 {
  text-align: center;
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}

.about-me-item.p2 {
  text-align: center;
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
}
.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}
.work-grid-container {
  text-align: center;
  grid-template-columns:  
  grid-template-rows: 
  gap: 10px 10px;
}
.work-item.work-title {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 3;
  text-align: center;
  color:black;
  padding-right: 10px;
  border-right: 2px solid var(--about-me-work-border);
}
.work-item-project.challenge-1-module-1 {
  background-image: url("../images/challenge-1-module-1.jpg");
  background-size:cover; 
  display: flex; 
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: center;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.work-item-project.run-buddy-challenge {
  background-image: url("../images/run-buddy-challenge.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: center;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.work-item-project.cheat-sheet {
  background-image: url("../images/cheat.jpg");
  background-size: cover;
  display: flex;
  align-items:center;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: center;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.item2 {
  grid-column-start: 7;
  grid-column-end: 12;
}

.item3 {
  grid-column-start:13;
  grid-column-end: 18;
}


.span-background { 
  background-color: var(--lightskyblue);
  position: relative;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5%;
  opacity: .8;
}

.span-background.title { 
  margin-top: 10px;
  margin-bottom: 20px;
}

.span-background.opacity{
  opacity: .95;
  font-size: 30px;
}

.span-background.lower-text {
  font-size: x-small;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.footer-container {
  width: 80%;
  text-align: center;
  grid-template-columns: 1fr repeat(3, 2fr); 
  grid-template-rows: repeat(3,2fr);
  gap: 20px 20px; 
  text-align: center;
}

.footer-grid-item.contact-me {
  align-self: center;
  padding-top: 10px;
  font-size: 25px;
  grid-row: 1 / span 3;
  border-right: 2px solid var(--lightskyblue);
}

.footer-grid-item.phone{
  grid-row: 2;
}

.footer-grid-item.email{
  grid-row: 2;
}

.footer-grid-item.git-hub{
  grid-row: 2;
}

@media screen and (max-width: 980px) {

  header {
    justify-content: center;
  }

  header h1 {
    padding-left: 0px;
  }
  .hero-subtitle {
    padding-right: 30px;
  }

  .span-background.opacity{
    font-size: 25px;
  }

  .hero {
  background-attachment: scroll;
  }

  .about-me-wrapper {
    text-align: center;
    margin-top: 20px;
  }

  .about-me-grid-container {
    text-align: center;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px 5px; 
  }

  .about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 35px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: right;
    padding-right: 100px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--about-me-work-border);
  }

  .work-grid-container .work-item-project.ghost-item:hover{
    opacity: .8;
  }
  .footer-wrapper {
    margin-top: 20px;
  }

  .footer-container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.5px 2.5px;
  }

  .footer-grid-item.contact-me {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 0 / span 1;
    grid-row: 2 / span 2;
    text-align: center;
    border-right: none;
    border-bottom: 2px solid var(--lightskyblue);
    padding-left: 25px;
  }

  .footer-grid-item.phone{
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    padding-left: 10px;
  }

  .footer-grid-item.email{
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    padding-left: 25px;

  }

  .footer-grid-item.git-hub{
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    width: 20px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 768px) {

  header a {
    font-size: 3vw;
  }

  footer a {
    font-size: 3vw;
  }
  .nav-effects a:hover{
      font-size: 3vw; 
  }

  .footer-container a:hover{
    font-size: 1.8vw;
  }

  .hero {
    background-attachment: scroll;
  }
    
  .about-me-grid-container {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: .5fr repeat(4, 1fr);
    gap: 5px 5px; 
  }

  .about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--about-me-work-border);
    align-self: start;
  }

  .work-grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .5fr repeat(3, 1fr);
    gap: 2.5px 2.5px;
  }

  .work-item.work-title {
    font-size: 35px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid var(--about-me-work-border);
    border-right: none;
    align-self: start;
  }

  .work-item-project.challenge-1-module-1{
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
  }

  .work-item-project.run-buddy-challenge {
    grid-column: 1 /span 3;
    grid-row: 5 / span 2;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
  }

  .footer-wrapper {
    margin-top: 10px;
  }

}

@media screen and  (max-width: 575px) {

    header a {
    font-size: 4vw;
  }

  header nav ul {
    padding-right: 0px;
    justify-content: center;
  }
  
  header nav ul li {
    padding: 2px 2px 2px 2px;
  }

  p{
    font-size:5vw;
  }

  footer a {
    font-size: 3.5vw;
  }

  .nav-effects a:hover{
    font-size: 4vw; 
  }

  .footer-container a:hover{
    font-size: 2.0vw;
  }

  .footer-container {
    gap: 0px 0px;
  }

  .footer-grid-item.git-hub{
    padding-left: 10px;
  }
}